*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient( white, rgb(164, 74, 238) , white);
    font-family: -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    Helvetica Neue,
    sans-serif;
}

#left-side{
    width: 20%;
    position: fixed;
    font-size: 18px;
    padding-left: 10%;
    padding-right: 5%;
    border-right: 1px solid grey;
}
#articles, #articles:visited{
    display: inline-block;
    height: 35px;
    color: black;
    text-decoration: underline;
}
#about{
    color: black;
    text-decoration: none;
}
#about:hover{
    text-decoration: underline;   
}
#content{
    height: auto;
    width: 60%;
    overflow: auto;
    margin-left: 38%;
    padding-right: 10px;
}
#About-me{
    height: auto;
    width: 60%;
    overflow: auto;
    padding-right: 10px;
    margin-left: 38%;
    display: none;
}
#span{
    width: 48%;
    height: 500px;
    float: right;
    margin: 10px 0px 20px 25px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 3px 5px 2px grey;
}
#image{
    width: 48%;
    height: 500px;
    float: left;
    margin: 10px 0px 20px 0;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 3px 5px 2px grey;
}

#next{
    float: right; 
    margin-top: 20px;
    margin-right: 5%;
    margin-bottom: 50px;
}
button{
    font-size: 30px;
    font-weight: 700; 
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(111, 41, 196);
    color: rgb(255, 255, 255);
}
button:hover{
    text-decoration: underline;
}
.linkItem{
    color: black;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}
.linkItem:hover{
    text-decoration: underline;
}
@media (max-width: 1160px){
    #header{
        display: none;
    }
    #image{
        width: 95%;
    }
    #span{
        width: 95%;
        float: left;
        margin-left: 0px;
    }
    #left-side{
        padding-left: 5%;
        width: 25%;
    }
}
@media (max-width: 785px) {
    #header{
        display: "Article";
    }
    #left-side{
        width: 90%;
        padding: 0;
        margin: 0 auto;
        padding-bottom: 20px;
        position: relative;
        border: none;
        border-bottom: 1px solid grey;
    }
    #image{
        width: 90%;
        float: none;
        margin: 0 auto;
        position: static;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    #span{
        float: none;
        width: 90%;
        float: none;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    #content{
        width: 90%;
        height: auto;
        overflow: none;
        margin: 0 auto;
        padding: 0;
    }
    #About-me{
        width: 80%;
        float: left;
        margin-left: 5%;
        margin-bottom: 100px;
    }
}


